<!DOCTYPE html>
<html>
<head>
    <title>Employee Salary Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Employee Salary Details</h1>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Salary (₹)</th>
            </tr>

            {% for emp in employees %}
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.role }}</td>
                <td>{{ emp.salary }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
